body {

    font-family: Arial, sans-serif;
    padding: 30px;
    margin-left:100px ;
    margin-right: 100px;
    border: solid black;
    
  }
  .header {
    display: flex;
    align-items: center;
   justify-content: space-between;
  }
  .info{
    height: 20px;
  }
  .profile-picture {
    width: 220px;
    height: 220px;
   /* border: 10px solid #5b4caf;*/
    /* background-color: #f4f4f4 */

  }
  .header-info {
    padding: .5em;
    
    background-color: #f4f4f4;
  }
  .mid{
    background-color: #f4f4f4;
    margin-top: 50px;
    padding: 50px;
  }
  .skills ul {
    display: flex;
    list-style-type: square;
    flex-wrap: wrap;
  }
  .skills ul li {
    width: 150px;
    margin-bottom: 5px;
  }
  .company{
    color: #4caf50;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid #ddd;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
  }